<h1>User: <%= @user.name%></h1>
<h2>Name: <%= @user.fullname%></h2>

<div>Bucketlists you have created:</div>
<ul>
<% @user.lists.each do |list| %>
  <li><%= link_to list.title, list_path(list) %></li>
<% end %>
</ul>

<div>Bucketlists you have followed:</div>
<ul>
<% @user.love_lists.each do |list| %>
  <li><%= link_to list.title, list_path(list) %></li>
<% end %>
</ul>