<%= link_to "Edit my profile", edit_user_path(current_user) %>

<div>Bucketlists you have created:</div>
<ul>
<% current_user.lists.each do |list| %>
  <li><%= link_to list.title, list_path(list) %></li>
<% end %>
</ul>

<div>Bucketlists you have followed:</div>
<ul>
<% current_user.love_lists.each do |list| %>
  <li><%= link_to list.title, list_path(list) %></li>
<% end %>
</ul>
