<div class="mainimage">
</div>
<div class="home_spacer">
</div>
<div class="home_stats">
<div class="container">
    <div class="row">
      <div class="col">
        Most Followed List
        <% if Follow.all.length != 0 %>
        <br>
        <span class="welcome_stats">
          <%= pluralize(List.most_followed.follows.count, 'Follower')%>
        </span>
        <br>
        <span class="welcome_title">
          <%= link_to List.most_followed.title, list_path(List.most_followed)%>
        </span>
        <% end %>
      </div>
      <div class="col">
        Most Commented Item
        <br>
        <% if Comment.all.length != 0 %>
        <span class="welcome_stats">
          <%= pluralize(Item.most_commented.comments.count, 'Comment')%>
        </span>
        <br>
        <span class="welcome_title">
          <%= link_to Item.most_commented.content, item_path(Item.most_commented)%>
        </span>
        <% end %>
      </div>
    </div>
</div>
</div>