/*
*= require_tree .
*= require_self
*/
a {
  color: #204969 !important;
}

#bucketlyster {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #204969;
}

.field_with_errors {
  display: inline;
  color: red;
}

.navbar {
  background-color: #faf5ef;
  color: #204969;
  font-weight: 600;
  height: 60px;
}

