/*
*= require_tree .
*= require_self
*/

#bucketlyster {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #204969;
}

.field_with_errors {
  display: inline;
  color: red;
}

.navbar-expand-lg {
  background-color: #faf5ef;
  color: #204969;
  font-weight: 600;
}

a {
  padding-top: 7px;
}
