// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments_display{
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

#comment_form{
    margin: auto;
    width: 80%;
    border: 1px solid rgb(32, 73, 105);
    border-radius: 0.25rem;
    border-style: inset;
    background-color:rgb(32, 73, 105);
    padding: 10px;
    text-align: center;
}
.card-columns {
      column-count: 2;
      
}
.items_show_background{
    padding-top:40px;
    background-image: url("kelly-sikkema--1_RZL8BGBM-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index:1;

    height: 800px;
  width: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
}
.font1{
    font-family: 'Liu Jian Mao Cao', cursive;
}
.font2{
font-family: 'Kaushan Script', cursive;
}
.font3{
font-family: 'Parisienne', cursive;
}
.font4{
font-family: 'Bad Script', cursive;
}
.font5{
font-family: 'Leckerli One', cursive;
}
.font6{
font-family: 'Delius', cursive;
}
.font7{
font-family: 'Crafty Girls', cursive;
}