.lists_path_row {
  padding-left: 150px;
  padding-right: 150px;
}  
.col-sm-3 {
  padding-bottom: 40px;
}

#list_image.card-img-top {
  width: 260px;
  height: 300px;
}

.lists_search_form {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  font-weight: 600;
  border-style: solid;
  border-color: #ac8daf ;
}



////// List show page //////

.list_show_two_column {
  color: black !important;
  background-image: url("img23.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
}

.list_show {
  margin-top: 50px;
  width: 100%;
  height: auto;
  }

.list_info {
  font-weight: 600;
  border-style: groove;
  border-radius: 3px;
  padding: 50px;
  background-color:rgba(250, 245, 239, 0.6);
  font-size: 20px;
}

.item_form_wrapper {
  font-weight: 600;
  position: fixed;
  width: 25%;
  border-style: groove;
  border-radius: 3px;
  padding: 50px; 
  font-size: 17px;
  background-color:rgba(250, 245, 239, 0.6);
}

.list_title {
  text-align: center;
  font-size: 25px;
}

.list_creator {
  text-align: right;
}

.follow_count {
  text-align: right;
  color: white;
  font-size: 17px;
}

.follow_button {
  text-align: right;
}

.edit_delete_buttons {
  text-align: right;
}

.status_radio {
  text-align: right;
  font_size: 10px;
}




///////// new_list_path
.new_list_background {
  height: 800px;
  width: auto;
  background-image: url("main_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.new_list_form_wrapper {
  font-size: 17px;
  font-weight: 600;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 70px; 
  background-color:rgba(248, 248, 250, 0.8);
}

.progress {
  margin-right: 150px;
  margin-bottom: 20px;
}