.lists_path_row {
  padding-left: 150px;
  padding-right: 150px;
} 
.col-sm-3 {
  padding-bottom: 40px;
}

#list_image.card-img-top {
  width: 260px;
  height: 300px;
}

.lists_search_form {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  font-weight: 600;
  border-style: solid;
  border-color: #ac8daf ;
}

.container.list_show {
  padding: 50px; 
  font-weight: 600;
  margin-top: 50px;
  height: 1500px;
  width: auto;
  background-image: url("img9.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.7;
  }

// .container.background {
//   height: 1200px;
//   width: auto;
//   background-image: url("img9.jpg");
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//   opacity: 0.6;
// }



.col-sm-8.list_info {
  border-style: groove;
  border-block: 1px;
  border-radius: 3px;
  margin-top: 50px;
  padding: 50px; 
  // background-color: white;
}

.item_form_wrapper {
  position: fixed;
  width: 25%;
  border-style: groove;
  border-block: 1px;
  border-radius: 3px;
  padding: 50px; 
  margin-top: 50px;
}

.list_title {
  text-align: center;
  font-size: 25px;
}

.list_creator {
  text-align: right;
  font-size: 20px;
}

.follow_count {
  text-align: right;
  color: #17a2b8;
}

.follow_button {
  text-align: right;
}

.delete_list_button {
  text-align: right;
}