.newaccount {
  font-weight: 500;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border-style: groove;
  border-block: 1px;
  border-radius: 3px;
  padding: 70px; 
}
/* // Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */


.profile_title{
  text-align: center;
}

.top_row {
  // position:relative;
}

.mini_stats {
  // display: flex;
  // align-items: flex-end;
  // flex-wrap: nowrap;
  // justify-content: center;
  // align-content: flex-start;
}

.container {
  border-radius:5%;
  padding: 10px;
  background-color: #f8f8fa;
  margin: 20px;
}

.profile_div img {
  
  border-radius: 10%;
  width: 200px;
  float:left;
  margin-right: 10px;
}

.profile_into {

}







