.mainimage{
  height: 700px;
  width: auto;
  background-image: url("main_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  opacity: 0.9; 
}   
.welcome_stats{
  color: #83142c;
  font-size: 30px;
}
.welcome_title{
  color: black;
}
.home_spacer{
  background-color:#faf5ef;
  height:10px;
}
.home_stats{
  width: 100%;
  height: 250px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  opacity: 0.8;
}

.stat_title {
  font-weight: 500;
  width: 50%;
  border-block: 1px;
  border-style: solid;
  padding: 5px;
  margin-left: 135px;
}