.mainimage{
  height: 600px;
  width: auto;
  background-image: url("main_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  opacity: 0.9;
}  